.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 1rem;
  margin-right: 1rem;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 1;

  &__title{
     text-decoration: none;
     color: inherit
  }

  &__theme {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;

    &--strike {
      text-decoration: line-through;
    }
  }
}
